$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Gloria+Hallelujah|Julius+Sans+One|Permanent+Marker');

body {
  height: 100%;
  font-family: 'Permanent Marker', cursive;
  background: linear-gradient(#192233, #333137);
}

h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 75px;
  background-color: #f7bd2f;
  border: 3px solid #000000;
}

h2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Permanent Marker', cursive;
  color: #f7bd2f
}

.border {
  border: 2px solid #000;
  margin: 20px;
  padding: 20px;
  max-width: 618px;
}


.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-container {
  justify-content: center;
  align-items: center;
}

.board-container {
  height: 100%;
  width: 100%;
}

.board {
  width: 618px;
  background-image: url('https://i.imgur.com/coBedqm.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.square {
  width: 200px;
  height: 200px;
  border: 3px solid black;
  font-size: 150px;
}

.square:hover {
  background-color: #f7bd2f;
  opacity: .6;
}

.reset {
  background-color: #f7bd2f;
  font-family: 'Permanent Marker', cursive;
  color: black;
  font-size: 35px;
  border: 3px solid black;
}

.reset:hover {
  opacity: .6;
}

.start {
  background-color: #f7bd2f;
  font-family: 'Permanent Marker', cursive;
  color: black;
  font-size: 35px;
  border: 3px solid black;
}

.start:hover {
opacity: .6
}

.winner {
  display: none;
  padding: 10px;
  font-size:35px;
  color: black;
}

.discription {
  text-align: center;
  font-size: 25px;
  color: #f7bd2f;
  font-family: 'Permanent Marker', cursive;
  margin-left: auto;
  margin-right: auto;
}

.winner {
  color: #f7bd2f;
}
