$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Gloria+Hallelujah|Julius+Sans+One|Permanent+Marker');

body {
  height: 100%;
  font-family: 'Permanent Marker', cursive;
  background: linear-gradient(#192233, #333137);
}

h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 75px;
  background-color: #f7bd2f;
  border: 3px solid #000000;
  color: black;
  text-shadow: 0 0 20px #fefcc9;
}

h2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Permanent Marker', cursive;
  color: #f7bd2f;
}

h4 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Permanent Marker', cursive;
  color: #f7bd2f;
}

.border {
  border: 3px solid #000;
  margin: 20px;
  padding: 20px;
  max-width: 618px;
  margin-left: auto;
  margin-right: auto;
}


.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-container {
  justify-content: center;
  align-items: center;
}

.board-container {
  height: 100%;
  width: 100%;
}

.board {
  width: 618px;
  background-image: url('https://i.imgur.com/coBedqm.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.square {
  width: 200px;
  height: 200px;
  border: 3px solid black;
  font-size: 150px;
  text-shadow: -1px -1px 0 #000,
		3px -3px 0 #000,
		-3px 3px 0 #000,
		3px 3px 0 #000;
}

.bird {
  display: none;
  background-size: cover;
  height: 75%;
  width: 75%;
}

.square:hover {
  background-color: #f7bd2f;
  opacity: .6;
}

.reset {
  background-color: #f7bd2f;
  font-family: 'Permanent Marker', cursive;
  color: black;
  font-size: 35px;
  border: 3px solid black;
}

.reset:hover {
  opacity: .6;
}

.start {
  background-color: #f7bd2f;
  font-family: 'Permanent Marker', cursive;
  color: black;
  font-size: 35px;
  border: 3px solid black;
}

.start:hover {
opacity: .6;
}

.winner {
  display: none;
  padding: 10px;
  font-size:35px;
  text-shadow: -1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
  color: #f7bd2f;
  text-align: center;

}

.btnbtn-primary {
  background-color: #f7bd2f;
  font-size: 35px;
  border: 3px solid black;
  width: 110%;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.btnbtn-primary:hover {
  opacity: .6;
}

.modal-content {
  text-align: center;
  background-image: url('https://i.imgur.com/6zCDOX4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 80px;
  color: #f6ff18;
  border: 5px solid #f6ff18;
  text-shadow: -1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.change-password {
  padding: 8px;
}

fieldset {
  height: auto;
}


